.logged-navigation-list {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;

  list-style-type: none;
}

.logged-navigation-list__item {
  /* padding-left: 17px; */
}

.logged-navigation-list__item:first-child {
  margin-left: auto;
  padding-left: 46px;
}

.logged-navigation-list__item_away {
  padding: 0;
  margin-left: auto;
}

.logged-navigation-list__close-button {
  display: none;
}

.logged-navigation-list__link {
  color: #000;
  font-size: 13px;
  line-height: 1.38;
  text-decoration: none;

  transition: var(--opacity-transition);
}

.logged-navigation-list__link:hover {
  opacity: var(--link-hover-opacity);
}

.logged-navigation-list__link_active {
  font-weight: 500;
}

.logged-navigation-list__link_theme_dark {
  color: #fff;
}

.logged-navigation-list__link_mobile-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .logged-navigation-list {
    width: 520px;
    max-width: 100%;
    height: 100vh;
    height: 100dvh;
    padding-bottom: 90px;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: flex-start;
    gap: 29px;

    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;

    background: #fff;

    transition: transform 0.3s ease-in-out;
  }

  .logged-navigation-list_opened {
    transform: translateX(-100%);
  }

  .logged-navigation-list__item {
    padding: 0;
    margin: 0;
  }

  .logged-navigation-list__item:first-child {
    padding: 0;
    margin: 22px 22px 74px;

    align-self: flex-end;
  }

  .logged-navigation-list__item_away {
    margin-top: auto;
  }

  .logged-navigation-list__link {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }

  .logged-navigation-list__link_active {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
  }

  .logged-navigation-list__link_mobile-only {
    display: block;
  }

  .logged-navigation-list__close-button {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .logged-navigation-list {
    padding-bottom: 46px;
    gap: 24px;
  }

  .logged-navigation-list__item:first-child {
    margin: 13px 13px 74px;
  }

  .logged-navigation-list__link_active {
    text-underline-offset: 11px;
  }
}
