.searcher-field {
  margin: 0;
  padding: 6px;
  border: 0;
  box-sizing: border-box;
  border-radius: 100vmax;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f9f9f9;
}

.searcher-field__input {
  padding: 8px 8px 8px 16px;
  border: 0;
  box-sizing: border-box;
  outline: none;

  flex-grow: 1;

  background: transparent;
  color: #000;
  font-size: 13px;
  line-height: 1.3;
}

.searcher-field__input::placeholder {
  color: #a0a0a0;
}

@media screen and (max-width: 330px) {
  .searcher-field__button {
    margin-right: 6px;
  }

  .searcher-field {
    padding-left: 0;
    padding-right: 0;
  }

  .searcher-field__input {
    padding-left: 19px;
    font-size: 11px;
    line-height: 1.54;
  }
}
