.profile {
  width: 100%;
  max-width: 410px;
  padding-top: 78px;
  min-height: 560px;
  box-sizing: border-box;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 0 0 106px;
}

.profile__form {
  width: 100%;
  margin: 0 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.profile__form-fieldset {
  width: 100%;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.profile__input-field {
  width: 100%;
  max-width: 410px;
  padding-top: 17px;

  display: grid;
  grid-template-areas: 'label input' 'error error';
}

.profile__input-field:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.profile__validation-error {
  min-height: 10px;
  margin-bottom: 3px;

  grid-area: error;
}

.profile__label {
  margin-right: 10px;

  grid-area: label;

  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  padding-right: 0;
  border: 0;

  grid-area: input;

  flex-grow: 1;

  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.profile__input:disabled {
  background: transparent;
  color: #000;
}

.profile__input:focus {
  border-radius: 5px;
}

.profile__message {
  margin-bottom: 20px;
}

.profile__button {
  padding: 0;
  border: 0;
  cursor: pointer;

  background: transparent;
  font-size: 13px;
  line-height: normal;

  transition: var(--opacity-transition);
}

.profile__button:hover {
  opacity: var(--link-hover-opacity);
}

.profile__submit-button {
  width: 100%;
}

.profile__button_type_logout {
  color: #ee3465;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 40px;
    min-height: 486px;
  }

  .profile__title {
    margin-bottom: 79px;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    min-height: 100vh;
    min-height: 100dvh;
    padding: 144px 30px 28px;
  }

  .profile__title {
    margin-bottom: 63px;
  }

  .profile__button {
    font-size: 12px;
  }
}
