.close-button {
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  background: transparent;

  transition: background 0.2s ease;
}

.close-button:hover {
  background: #f5f5f5;
}
