:root {
  --primary-bg-color: inherit;
  --secondary-landing-bg-color: #f5f5f5;
  --accent-color: #ff6838;
  --second-accent-color: #2be080;

  --main-text-color: #000;
  --secondary-text-color: #a0a0a0;
  --text-link-color: #000;

  --font-size-large: 50px;
  --font-size-l: 14px;
  --font-size-s: 13px;

  --link-hover-opacity: 0.7;
  --button-hover-opacity: 0.8;

  --opacity-transition: opacity 0.2s ease;

  --padding-desktop: 70px;
  --padding-tablet: 50px;
  --padding-tablet-small: 30px;
  --padding-mobile: 18px;
  --padding-mobile-small: 14px;
  --padding-mobile-smallest: 10px;
}

.app {
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--main-text-color);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.app__menu-block {
  width: 100%;
  height: 100vh;
  height: 100dvh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  background: #000;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.3s,
    opacity 0.3s;
}

@media screen and (max-width: 768px) {
  .app__menu-block_visible {
    visibility: visible;
    opacity: 0.3;
    transition:
      visibility 0s linear 0s,
      opacity 0.3s;
  }
}
