:root {
  --padding-size-l: 70px;
  --padding-size-m: 70px;
  --padding-size-s: 70px;
}

.main-section {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section_padding-size_l {
  padding-left: var(--padding-size-l);
  padding-right: var(--padding-size-l);
}

.main-section_padding-size_m {
  padding-left: var(--padding-size-m);
  padding-right: var(--padding-size-m);
}

.main-section_padding-size_s {
  padding-left: var(--padding-size-s);
  padding-right: var(--padding-size-s);
}

.main-section__container {
  width: 100%;
  max-width: 1140px;
}

@media screen and (max-width: 768px) {
  :root {
    --padding-size-l: 50px;
    --padding-size-m: 50px;
    --padding-size-s: 30px;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --padding-size-l: 18px;
    --padding-size-m: 14px;
    --padding-size-s: 10px;
  }
}
