.main-section {
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section__container {
  width: 100%;
  max-width: 1140px;
}

@media screen and (max-width: 768px) {
  .main-section {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 640px) {
  .main-section {
    padding-left: 18px;
    padding-right: 18px;
  }
}
