.main-section {
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section_scheme_primary {
  padding-top: 112px;
  padding-bottom: 110px;

  background: var(--primary-bg-color);
}

.main-section_scheme_secondary {
  padding-top: 100px;
  padding-bottom: 100px;

  background: var(--secondary-landing-bg-color);
}

.main-section__container {
  width: 100%;
  max-width: 1140px;
}

.main-section__title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;

  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
}
