.switch-toggle__input {
  width: 1px;
  height: 1px;

  position: absolute;
  overflow: hidden;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
}

.switch-toggle__label {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 12px;

  position: relative;
  cursor: pointer;

  font-size: 14px;
  line-height: 1.28;
}

/*  Подложка свича  */
.switch-toggle__label::before {
  content: '';
  width: 36px;
  height: 20px;
  border-radius: 100vmax;

  background: #ebebeb;
  transition: background 0.2s ease-in-out;
}

/*  Кружок свича  */
.switch-toggle__label::after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 100vmax;

  position: absolute;
  top: 2px;
  left: 2px;

  background: #f5f5f5;

  transition:
    background 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.switch-toggle__input:checked + .switch-toggle__label::before {
  background: #2be080;
}

.switch-toggle__input:checked + .switch-toggle__label::after {
  background: #fff;
  transform: translateX(100%);
}
