.about-section {
  padding-top: 110px;
  padding-bottom: 97px;
}

/*  Steps  */
.about-section__steps-list {
  padding: 71px 0 0;
  gap: 50px;
}

.about-section__step-subtitle {
  margin: 0;
  padding-bottom: 26px;

  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.about-section__step-text {
  margin: 0;

  font-size: var(--font-size-l);
  font-weight: 400;
  line-height: 1.42;
}

/*  Diagram  */
.about-section__line-diagram {
  width: 100%;
  padding: 111px 0 0;
}

.about-section___diagram-item:first-child {
  flex-grow: 1;
}

.about-section___diagram-item:last-child {
  flex-grow: 6;
}

.about-section___diagram-title {
  min-height: 36px;
  margin: 0;
  padding: 9px 14px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f2f2f2;
  font-size: var(--font-size-l);
}

.about-section___diagram-title_accented {
  background: var(--second-accent-color);
}

.about-section___diagram-description {
  margin: 0;
  padding: 14px;
  box-sizing: border-box;

  color: var(--secondary-text-color);
  font-size: var(--font-size-l);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .about-section {
    padding-top: 90px;
    padding-bottom: 77px;
  }

  .about-section__steps-list {
    gap: 36px;
  }

  .about-section__step-subtitle {
    padding-bottom: 23px;
  }

  .about-section__step-text {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-section__line-diagram {
    padding: 93px 0 0;
  }

  .about-section___diagram-item:last-child {
    flex-grow: 9;
  }
}

@media screen and (max-width: 640px) {
  .about-section {
    padding-top: 71px;
    padding-bottom: 69px;
  }

  .about-section__steps-list {
    padding-top: 61px;

    flex-direction: column;
    gap: 57px;
  }

  .about-section__step-subtitle {
    padding-bottom: 16px;

    font-size: 18px;
    line-height: 1.21;
    letter-spacing: -0.72px;
  }

  .about-section__step-text {
    font-size: 11px;
    line-height: 1.454;
  }

  /*  Diagram  */
  .about-section__line-diagram {
    padding-top: 59px;
  }

  .about-section___diagram-title {
    min-height: 35px;
    margin: 0;
    padding: 9px 14px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 11px;
  }

  .about-section___diagram-description {
    padding: 10px;
    font-size: 11px;
  }

  .about-section___diagram-item:last-child {
    flex-grow: 4;
  }
}
