.footer {
  padding: 80px 70px 20px;
  box-sizing: border-box;

  display: flex;

  background: #fafafa;
}

.footer__content {
  width: 100%;
  max-width: 1140px;

  display: flex;
  flex-direction: column;
}

.footer__title {
  margin: 0 0 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e8e8e8;

  color: var(--secondary-text-color);
  font-size: var(--font-size-s);
  font-weight: 400;
  text-align: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin: 0;

  font-size: var(--font-size-s);
}

.footer__nav-list {
  gap: 20px;
}

.student-section__portfolio-link {
  font-size: var(--font-size-s);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 44px 30px 20px;
    box-sizing: border-box;

    display: flex;

    background: #fff;
  }
}
