.footer {
  margin-top: auto;
  width: 100%;
}

.footer__main-container {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;

  display: flex;

  background: #fafafa;
}

.footer__content {
  width: 100%;
  max-width: var(--max-desktop-width);

  display: flex;
  flex-direction: column;
}

.footer__title {
  margin: 0 0 18px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e8e8e8;

  color: var(--secondary-text-color);
  font-size: var(--font-size-s);
  font-weight: 400;
  text-align: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  font-feature-settings:
    'clig' off,
    'liga' off;

  font-size: var(--font-size-s);
}

.footer__nav-list {
  gap: 20px;
}

.footer__link {
  font-size: var(--font-size-s);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 44px;
    padding-bottom: 20px;

    display: flex;

    background: #fff;
  }

  .footer__title {
    margin-bottom: 18px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    padding-top: 26px;
  }

  .footer__title {
    margin-bottom: 27px;
    padding-bottom: 22px;

    font-size: 12px;
  }

  .footer__container {
    flex-direction: column;
    gap: 30px;
  }

  .footer__copyright {
    order: 1;

    color: var(--secondary-text-color);
    font-size: 12px;
  }

  .footer__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .footer__link {
    font-size: 12px;
  }
}
