.auth-form {
  width: 100%;
  max-width: 396px;
  min-height: 560px;
  box-sizing: border-box;

  align-self: center;
  display: flex;
  flex-direction: column;
}

.auth-form__logo {
  margin-bottom: 40px;
  align-self: flex-start;
}

.auth-form__title {
  margin: 0 0 40px;
}

.auth-form__form {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.auth-form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.auth-form__input-field {
  display: flex;
  flex-direction: column;
}

.auth-form__input-field:not(:last-of-type) {
  margin-bottom: 20px;
}

.auth-form__label {
  margin-bottom: 10px;

  color: #a0a0a0;
  font-size: 10px;
  line-height: normal;
}

.auth-form__input {
  min-height: 46px;
  padding: 15px;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;

  background: #f9f9f9;
  font-size: 13px;
  line-height: normal;
}

.auth-form__error {
  padding-top: 10px;
  margin-bottom: 69px;

  color: #ee3465;
  font-size: 10px;
  line-height: normal;
}

.auth-form__submit-button {
  min-height: 45px;
  margin-bottom: 16px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;

  color: #fff;
  background: #ff6838;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;

  transition: var(--opacity-transition);
}

.auth-form__submit-button:hover {
  opacity: var(--button-hover-opacity);
}

.auth-form__subtext {
  margin: 0;
  color: #a0a0a0;
  font-size: 14px;
  line-height: normal;
  text-align: center;
}

.auth-form__link {
  color: #ff6838;
  text-decoration: none;

  transition: var(--opacity-transition);
}

.auth-form__link:hover {
  opacity: var(--link-hover-opacity);
}

@media screen and (max-width: 640px) {
  .auth-form {
    min-height: 100vh;
    min-height: 100dvh;
    padding: 56px 30px 30px;
  }

  .auth-form__logo {
    align-self: center;
    margin-bottom: 50px;
  }

  .auth-form__title {
    align-self: center;
    margin-bottom: 80px;
  }

  .auth-form__submit-button {
    margin-bottom: 14px;

    font-size: 12px;
  }

  .auth-form__subtext {
    font-size: 12px;
  }
}
