.promo {
  min-height: 598px;
  padding: 34px 10px 0;
  box-sizing: border-box;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #465dff;
}

.promo__logo {
  height: 320px;
  width: 320px;

  position: absolute;
  top: calc(50% + 17px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.promo__content {
  z-index: 1;
}

.promo__title {
  max-width: 730px;
  margin: 0;

  color: #fff;
  font-size: var(--font-size-large);
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .promo {
    min-height: 858px;
    padding-top: 58px;
  }

  .promo__logo {
    top: calc(50% + 29px);
  }
}

@media screen and (max-width: 720px) {
  .promo {
    min-height: 644px;
    padding-top: 38px;
  }

  .promo__logo {
    height: 248px;
    width: 248px;

    top: calc(50% + 18px);
  }

  .promo__title {
    font-size: 31px;
    line-height: 1.25;
    letter-spacing: -1.24px;
    text-align: center;
  }
}
