.promo {
  min-height: 598px;
  padding-top: 34px;
  box-sizing: border-box;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #465dff;
}

.promo__content {
  z-index: 1;
}

.promo__title {
  max-width: 730px;
  margin: 0;

  color: #fff;
  font-size: var(--font-size-large);
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  text-align: center;
}
